<ul class="nav nav-sidebar" *ngFor="let menuGroup of menu; let lvl1_id = index">
  <li [class]="item.active?'active':''" *ngFor="let item of menuGroup; let lvl2_id = index" routerLinkActive="active">
    <a [href]="item.link" *ngIf="!item.sub && item.external" [target]="item.win?item.win:'_self'">{{ item.title }}</a>
    <a [routerLink]="item.link" *ngIf="!item.sub && !item.external">{{ item.title }}</a>
    <a [href]="'#submenu_' + lvl1_id + '_' + lvl2_id" *ngIf="item.sub" data-toggle="collapse" aria-expanded="false">{{ item.title }}</a>
    <ul class="nav nav-child collapse" [id]="'submenu_' + lvl1_id + '_' + lvl2_id" *ngIf="item.sub">
      <li *ngFor="let subitem of item.sub">
        <a [href]="subitem.link" *ngIf="subitem.external" [target]="subitem.win?subitem.win:'_self'">{{ subitem.title }}</a>
        <a [routerLink]="subitem.link" *ngIf="!subitem.external">{{ subitem.title }}</a>
      </li>
    </ul>
  </li>
</ul>
